html,body{
    width:100%;
    height:100%;
}
body{
    
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 182, 182);
}


div{
    display:flex;
   
    justify-content:center;
    width:40%;
    height:40%;
    font-size:x-large
    
}
#box1{
    background-color:rgb(140, 192, 175);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
#box2{
    background-color:rgb(168, 122, 64);
}