*{
    margin:0%;
    padding:0%
}
html,body{
    height:100%;
    width:100%;

}
body{
    display:flex;
    justify-content:center;
    align-items: center;

}
div{
    height:500px;
    width:500px;
    border-radius:50%;
    
    border: 10px solid #99AD7A;
    border-top:15px solid #DCCCAC;
    animation:spin 1s ease-in-out 0s infinite normal;
    

}
@keyframes spin{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}

}