*{
    margin:0%;
    padding:0%;
}
html,body{
    height:100%;
    width:100%;
}
body{
    display: flex;
    align-items: center;
   justify-content: center;
}

#box1{
    height:30%;
    width:30%;
    background-color:skyblue;
    transition:all 2s ease-in-out ;
    text-align: center;

   

}
#box2{
    height:30%;
    width:30%;
    background-color:palegoldenrod;
   transition:all 3s linear 2s;
   text-align: center;
  
}
div:hover{
    color:white;
    
    background-color:gainsboro;
    transform:scalex(1.4);
    
    font-size:x-large;
    
    
}
    
#box2:hover{
    transform:scaley(1.4);
}