*{
    margin:0%;
    padding:0%;
}
html,body{
    height:100%;
    width:100%;
}
body{
    display: flex;
    align-items: center;
   justify-content: center;
}

#box1{
    height:30%;
    width:30%;
    position:absolute;
    top:300px;
    left:100px;
    background-color:skyblue;
    animation-name:animate;
    animation:animate 2s ease-in 0s infinite alternate;
    text-align: center;
    animation-direction:alternate;
    transform:all 2s ease-in;
    
   

}
@keyframes animate{
    0%{left:0px;
    background-color: skyblue;}
    10%{
        background-color:aquamarine;
    }
    20%{
        background-color:fuchsia;
    }
    30%{
        background-color:greenyellow;
    }
    40%{
        background-color:dodgerblue;
    }
    50%{
        background-color:lightcoral;
    }
    60%{
        background-color:indigo;
    }
    70%{
        background-color:darkslategray;
    }
    80%{
        background-color:teal;
    }
    90%{
        background-color:mediumaquamarine;
    }
    
    100%{left:1000px;
    background-color:darkblue;}
    
}
#box2{
    height:30%;
    width:30%;
    background-color:palegoldenrod;
   transition:all 1s linear ;
   text-align: center;
   animation:animater 2s ease-in infinite alternate;
   position:absolute;
   top:50%;
   left:50%;
  
}
@keyframes animater{
    0%{left:0px;
    background-color:palegoldenrod;}
    10%{
        background-color:blueviolet;
    }
    20%{
        background-color:brown;
    }
    30%{
        background-color:cadetblue;
    }
    40%{
        background-color:burlywood;
    }
    50%{
        background-color:chartreuse;
    }
    60%{
        background-color:chocolate;
    }
    70%{
        background-color:crimson;
    }
    80%{
        background-color:darkmagenta;
    }
    90%{
        background-color:darkseagreen;
    }
    100%{left:1000px;
    background-color:darkblue;}
   
    
}

div:hover{
    color:white;
    
    background-color:gainsboro;
    
    
    font-size:x-large;
    
    
    
}
    
#box2:hover{
  transform:translatex(100px);
    
}